@mixin blog_styles_chess--xxl() {
	/* Blog layout: Chess */
	.post_layout_chess_2 .post_content_inner {
		display:none;
	}
	.post_layout_chess_2.post_format_quote .post_content_inner,
	.post_layout_chess_2.post_format_link .post_content_inner,
	.post_layout_chess_2.post_format_aside .post_content_inner,
	.post_layout_chess_2.post_format_status .post_content_inner {
		display:block;
	}
	.post_layout_chess_2.post_format_quote .post_content_inner p {
		@include font(1em, 1.25em);
	}
	.post_layout_chess_2.post_format_quote .post_content_inner a,
	.post_layout_chess_2.post_format_quote .post_content_inner cite {
		@include font(15px, 1.25em);
		margin-top: 0.8em;
	}
	.post_layout_chess_2.post_format_link .post_content_inner,
	.post_layout_chess_2.post_format_aside .post_content_inner,
	.post_layout_chess_2.post_format_status .post_content_inner {
		@include font(1.2em, 1.4em);
	}
	.post_layout_chess_3 .post_meta,
	.post_layout_chess.post_layout_chess_3 .more-link {
		display:none;
	}
	.post_layout_chess blockquote {
		padding: 1.5em 1.5em 1.5em 2em;
	}
	.post_layout_chess blockquote:before {
		top: 1.3em;
    	left: 0.6em;
	}
	.post_layout_chess_2 blockquote:before {
		font-size: 25px;
		top: 1em;
    	left: 0.5em;
	}
	.post_layout_chess blockquote,
	.post_layout_chess blockquote p {
		font-size: rem(38px);
		line-height: rem(49px);
	}
	.post_layout_chess .post_featured {
		height: auto!important;
	}
	.post_layout_chess_2 blockquote, 
	.post_layout_chess_2 blockquote p {
		font-size: 20px;
		line-height: 35px;
	}
	.post_layout_chess_2 .post_item .more-link {
		font-size: 16px;
	}
	.post_layout_chess_2 .slider_outer_controls_side .slider_controls_wrap > a,
	.post_layout_chess_2 .slider_container.slider_controls_side .slider_controls_wrap > a {
		width: rem(45px);
		height: rem(45px);
		line-height: rem(45px);
	}
	.post_layout_chess_2 .slider_outer_controls_side .slider_controls_wrap {
		bottom: rem(25px);
	}
	.post_layout_chess_3 .slider_controls_wrap {
		display: none;
	}
}

@mixin blog_styles_chess--xl() {
	/* Blog layout: Chess */
	.post_layout_chess.post_layout_chess_2 .more-link,
	.post_layout_chess.post_layout_chess_3 .more-link {
		letter-spacing: 0;
		padding: 1em 2em;
	}
	.post_layout_chess blockquote, 
	.post_layout_chess blockquote p {
		font-size: rem(34px);
		line-height: rem(45px);
	}
	.post_layout_chess_2 blockquote, 
	.post_layout_chess_2 blockquote p {
		font-size: 20px;
		line-height: 35px;
	}
	.post_layout_chess blockquote:before {
		top: 1.35em;
		font-size: 36px;
	}
	.post_layout_chess_2 blockquote:before {
		font-size: 25px;
		top: 1em;
    	left: 0.5em;
	}
	.post_layout_chess_2 .mejs-time {
		font-size: 11px !important;
	}
	.post_layout_chess_2.format-quote .post_meta {
		display: none;
	}
	.post_layout_chess_2.format-quote .post_content_inner {
		padding-bottom: 0;
	}
	.post_layout_chess_2.format-quote .post_inner_content {
		padding: 0 5%;
	}
	.post_layout_chess .post_header + .post_content {
		margin-top: 0;
	}
}

@mixin blog_styles_chess--lg() {
	/* Blog layout: Chess */
	.post_layout_chess_1.post_format_aside .post_meta {
		margin-top: 2rem;
	}
	.post_layout_chess_1 .post_header + .post_content {
		margin-top:1rem;
	}
	.post_layout_chess.post_layout_chess_1 .more-link {
		margin-top: 0;
	}
	.post_layout_chess_2.post_format_audio .mejs-volume-button,
	.post_layout_chess_2.post_format_audio .mejs-horizontal-volume-slider,
	.post_layout_chess_3.post_format_audio .mejs-volume-button,
	.post_layout_chess_3.post_format_audio .mejs-horizontal-volume-slider {
		display:none!important;
	}
	.post_layout_chess_2 .post_title {
		@include font(18px, 24px);
	}
	.post_layout_chess_2.post_format_quote .post_content_inner blockquote {
		padding: 1.5em 1.5em 1.5em 3em;
	}
	.post_layout_chess_2.post_format_quote .post_content_inner blockquote:before {
		font-size: 1.2em;
		top: 1em;
		left: 1em;
	}
	.post_layout_chess_2.post_format_quote .post_content_inner a,
	.post_layout_chess_2.post_format_quote .post_content_inner cite {
		@include font(13px, 12px);
	}
	.post_layout_chess_2.post_format_link .post_meta,
	.post_layout_chess_2.post_format_status .post_meta,
	.post_layout_chess_3.post_format_link .post_meta,
	.post_layout_chess_3.post_format_status .post_meta {
		margin-top:0;
	}
	.post_layout_chess.post_layout_chess_2 .more-link,
	.post_layout_chess.post_layout_chess_3 .more-link {
		padding: 1em 1.5em;
	}
	.post_layout_chess_3 .post_title {
		@include font(15px, 1.4em);
	}
	.post_layout_chess blockquote, 
	.post_layout_chess blockquote p {
		font-size: 26px;
		line-height: 35px;
	}
	.post_layout_chess_2 blockquote, 
	.post_layout_chess_2 blockquote p {
		font-size: 20px;
		line-height: 35px;
	}
	.post_layout_chess blockquote:before {
		top: 1.3em;
		font-size: 28px;
	}
	.post_layout_chess_2 blockquote:before {
		font-size: 25px;
		top: 1em;
    	left: 0.5em;
	}
	.post_layout_chess .slider_outer_controls_side .slider_controls_wrap {
		bottom: rem(25px);
	}
	.post_layout_chess_2 .slider_controls_wrap {
		display: none;
	}
	.post_layout_chess_2.format-quote .post_inner_content {
		padding: 0;
	}
	.post_layout_chess_2 blockquote, .post_layout_chess_2 blockquote p {
		font-size: 18px;
	}
	.post_layout_chess_3 .mejs-time {
		display: none;
	}
}

@mixin blog_styles_chess--md() {
	/* Blog layout: Chess */
	.post_layout_chess .post_inner_content {
		padding:0 10%;
	}
	.post_layout_chess .post_title {
		font-size: 22px;
	}
	.post_layout_chess.post_format_quote .post_header,
	.post_layout_chess.post_format_link .post_header,
	.post_layout_chess.post_format_aside .post_header,
	.post_layout_chess.post_format_status .post_header {
		display:none;
	}
	.post_layout_chess.post_format_quote .post_content_inner + .post_meta,
	.post_layout_chess.post_format_link .post_content_inner + .post_meta,
	.post_layout_chess.post_format_aside .post_content_inner + .post_meta,
	.post_layout_chess.post_format_status .post_content_inner + .post_meta {
		display:block;
	}
	.post_layout_chess_2.post_format_quote .post_content_inner + .post_meta {
		display: none;
	}
	.post_layout_chess.post_format_quote .post_content_inner + .post_meta,
	.post_layout_chess.post_format_link .post_content_inner + .post_meta,
	.post_layout_chess.post_format_status .post_content_inner + .post_meta {
		margin-top:0 !important;
	}
	.post_layout_chess.post_format_aside .post_content_inner + .post_meta {
		margin-top: 1em;
	}
	.post_layout_chess .post_header + .post_content {
		margin-top:0;
	}
	.post_layout_chess:not(.format-quote) .post_content_inner {
		display:none;
	}
	.post_layout_chess .post_content_inner,
	.post_layout_chess:not(.post_format_quote):not(.post_format_link):not(.post_format_aside):not(.post_format_status) .post_content_inner {
		max-height: none;
	}
	.post_layout_chess.post_format_chat .post_content_inner {
		display: none;
	}
	.post_layout_chess .post_content_inner:after {
		display:none;
	}
	.post_layout_chess.post_format_link .post_content_inner,
	.post_layout_chess.post_format_aside .post_content_inner,
	.post_layout_chess.post_format_status .post_content_inner {
		font-size: 1.2em;
	}
	.post_layout_chess_2.format-quote .post_inner_content {
		padding: 0 10%;
	}
	.post_layout_chess_3 .post_meta {
		display: block;
	}

	.post_layout_chess blockquote {
		padding: 1em 1em 1em 2.5em;
	}
	.post_layout_chess blockquote, 
	.post_layout_chess blockquote p {
		font-size: 18px;
		line-height: 25px;
	}
	.post_layout_chess blockquote:before {
		top: 0.8em;
		left: 0.5em;
		font-size: 25px;
	}
	.post_layout_chess blockquote p {
		@include font(1.3846em, 1.3333em);
	}
	.post_layout_chess blockquote > a, .post_layout_chess blockquote > p > a,
	.post_layout_chess blockquote > cite, .post_layout_chess blockquote > p > cite {
		@include font(13px, 16px);
		margin-top: 1em;
	}
	.post_layout_chess_3 .mejs-time {
		display: block;
	}

	.post_layout_chess.post_layout_chess_1 .more-link {
		margin-top: 0.5em;
	}
	.post_layout_chess_2 {									width: 100%; float:none; }
	.post_layout_chess_2:nth-child(4n+3) .post_featured,
	.post_layout_chess_2:nth-child(4n+4) .post_featured {	float:right; }
	.post_layout_chess_2:nth-child(4n+3) .post_inner,
	.post_layout_chess_2:nth-child(4n+4) .post_inner {		left: 0; right:auto; }
	
	.post_layout_chess_3 {									width: 100%; float:none; }
	.post_layout_chess_3:nth-child(6n+4) .post_featured,
	.post_layout_chess_3:nth-child(6n+5) .post_featured,
	.post_layout_chess_3:nth-child(6n+6) .post_featured {	float:right; }
	.post_layout_chess_3:nth-child(6n+4) .post_inner,
	.post_layout_chess_3:nth-child(6n+5) .post_inner,
	.post_layout_chess_3:nth-child(6n+6) .post_inner {		left: 0; right:auto; }
	
	.post_layout_chess:nth-child(2n+2) .post_featured {		float:left; }
	.post_layout_chess:nth-child(2n+2) .post_inner {		left: auto; right:0; }
}

@mixin blog_styles_chess--sm() {
	/* Blog layout: Chess */
	.post_layout_chess .post_meta {
		display: none;
	}
	.post_layout_chess .post_content_inner {
		display:none;
	}
	.post_layout_chess .post_content {
		display: none;
	}
	.post_layout_chess.post_format_quote .post_content_inner + .post_meta,
	.post_layout_chess.post_format_link .post_content_inner + .post_meta,
	.post_layout_chess.post_format_aside .post_content_inner + .post_meta,
	.post_layout_chess.post_format_status .post_content_inner + .post_meta {
		display:none;
	}
	.post_layout_chess blockquote {
		padding: 2em 2em 2em 4em;
	}
	.post_layout_chess blockquote:before {
		top: 1.05em;
		left: 0.5em;
	}
	.post_layout_chess.post_layout_chess_1 .more-link,
	.post_layout_chess.post_layout_chess_2 .more-link,
	.post_layout_chess.post_layout_chess_3 .more-link {
		margin-top: 0;
	}
	.post_layout_chess .mejs-horizontal-volume-slider {
		display: none!important;
	}
	.post_layout_chess .mejs-volume-button {
		display: none;
	}
}

@mixin blog_styles_chess--xs() {
	/* Blog layout: Chess */
	.post_layout_chess .post_header {
		display:block !important;
	}
	.post_layout_chess .post_title {
		@include font(16px, 22px);
		letter-spacing:0;
	}
	.post_layout_chess .post_meta {
		display:none !important;
	}
	.post_layout_chess .post_content {
		display:none;
	}
	.post_layout_chess.post_format_audio .mejs-time {
		display:none;
	}
}
