@mixin blog_styles_excerpt--lg() {
	/* Blog layout: Excerpt */
	.post_layout_excerpt .post_header .post_price {
		@include font(2em, 1.5em);
	}
}

@mixin blog_styles_excerpt--md() {
	/* Blog layout: Excerpt */
	.post_layout_excerpt + .post_layout_excerpt {
		margin-top: 5em;
	}
	.post_layout_excerpt .post_meta {
		margin-top: 18px;
	}
	.post_layout_excerpt .post_header + .post_content {
		margin-top: 10px;
	}
	.post_layout_excerpt .post_header .post_price {
		@include font(1.75em, 1.5em);
	}
}

@mixin blog_styles_excerpt--sm() {
	/* Blog layout: Excerpt */
	.post_layout_excerpt .post_header .post_price {
		position:static;
		right: auto;
		top: auto;
		margin-top:0.3em;
	}
}
